@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)),
        url(../img/C3.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.header1 {
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)),
        url(../img/A7.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.header2 {
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)),
        url(../img/c8.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.header3 {
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)),
        url(../img/viajero.jpeg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.header4 {
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)),
        url(../img/contacto.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #16ed50;
    font-size: 25px;
    height: 100;
    
}

.facebook {
    font-size: 50px;
    height: 0;
    left: 0%;
}
.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 10px;
    color: #FFFDFC;
    display: block;
    font-weight: 100;
    right: 0;
}

.menu .navbar ul li a:hover{
    color: #ce9678;
}

#menu {
    display: none;
}

.menu-icono {
    width: 30px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #f7faf6;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 30px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #CE967B;
    color: #F9FAFC;
    text-transform: uppercase;
}

.btn-1:hover {
    background-color: #ebad8d;
}

.grid {
    display: grid;
    grid-template-columns:1fr 1fr;
    row-gap: 1em;
}

.grid div{
    background-color: #E1E2E6;
    padding: 1em;
    border: 5px solid rgb(18, 19, 18);
}

.grid > div:hover{
    border: 1px solid greenyellow
}

.turismo-1 {
    grid-column: 1/4;
    grid-row: 1/3;
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)),
        url(../img/equipage.webp);
}

.turismo-img {
    position: absolute;
    top: 0;
    right: 0; 
    height: 700px;
    width: auto;
}
.turismo-img{
    width: 600px;
    height: auto;
}

.turismo-content {
    text-align: center;
}

.turismo-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 24px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;

}

.turismo-2 {
    grid-column: 1/2;
    grid-row: 3/3;
    text-align: center;
}

.turismo-3 {
    grid-column: 2/3;
    grid-row: 3/3;
    text-align: center;
}

.rounded-circle {
    width: 400px;
    height: 200px;
    size-position: center;
}

.services {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(../img/C7.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0;
        border: 5px solid rgb(18, 19, 18);
}

.services-content {
    text-align: center;
}

.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content p {
    font-size: 16px;
    color: #C5C5C5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1 {
    padding: 0 100px;
}

.services-1 img {
    width: 100px;
    margin-bottom: 15px;
}

.services-1 h3 {
    color: #eaccb3;
    font-size: 18px;
}


    /* .imagen-1 {
        grid-column: 1/2
        grid-row: 5/1;
        text-align: center;
        } */
    

/* .general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
}

.general-2 {
    background-image: url(img/A4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.general-3 {
    background-image: url(img/combi.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.general-4 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
    background-image: linear-gradient(
        rgba(250, 248, 248, 0.7),
        rgba(250, 245, 245, 0.7)),
    url(img/trekking.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-5 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
    background-image: linear-gradient(
        rgba(250, 248, 248, 0.7),
        rgba(250, 245, 245, 0.7)),
    url(img/trakking\ cordoba.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-6 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
    background-image: linear-gradient(
        rgba(250, 248, 248, 0.7),
        rgba(250, 245, 245, 0.7)),
    url(img/trakking\ hielo\ azul.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-7 {
    background-image: url(img/norte.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-8 {
    background-image: url(img/cordoba.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-9 {
    background-image: url(img/salto.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-10 {
    background-image: url(img/A8.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-11 {
    background-image: url(img/Carlos-paz.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-12 {
    background-image: url(img/C5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-13 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
    background-image: linear-gradient(
        rgba(250, 248, 248, 0.7),
        rgba(250, 245, 245, 0.7)),
    url(img/viñedo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-14 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
    background-image: linear-gradient(
        rgba(250, 248, 248, 0.7),
        rgba(250, 245, 245, 0.7)),
    url(img/ginete.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-15 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
    background-image: linear-gradient(
        rgba(250, 248, 248, 0.7),
        rgba(250, 245, 245, 0.7)),
    url(img/silla.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
} */

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

dt {
    font-size: 30px;
    line-height: 50px;
    color: #0a0a0a;
    text-transform: uppercase;
    font-weight: 1000;
}

p {
    font-size: 20px;
    color: #414247;
    margin: 25px 0 45px 0;
}

dd {
    font-size: 25px;
    color: #4a4a4c;
    margin: 25px 0 45px 0;
}

.preguntas {
    background-image: linear-gradient(
        rgba(250, 248, 248, 0.7),
        rgba(234, 229, 229, 0.7)),
        url(../img/C4.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px  rgb(42, 245, 24);
    border-style:double;
}

.footer {
    padding: 100px;
    background-color: #504d4d;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 25px;
    color: #F9FAFC;
    margin-bottom: 5px;
    text-align: center;
}


fieldset {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 70px;
    color: #ffffff;
    text-transform: uppercase;
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)),
        url(../img/C3.jpg);
        border: 8px solid rgb(30, 216, 161);
        border-style:dashed;
}

input, textarea, #viajar {
    font-size: 80%;
    width: 500px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.formularios {
    padding: 100px 0px;
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)),
        url(../img/equipage.webp);
    position: relative;
            rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)),
        url(../img/C3.jpg);
}

.mapa {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    flex-direction: column;
    font-size: 30px;
    line-height: 70px;
}
@media(max-width:991px) {
   
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .turismo {
        padding: 30px;
    }

    .turismo-content h2 {
        padding: 0;
    }

    .txt-p {
        padding: 0;
    }

    .turismo-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .turismo-img {
        display: none;
    }

    .services {
        padding: 30px;
    }

    .services-content p {
        padding: 0;
    }

    .services-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1 {
        margin-bottom: 25px;
    }

    .general {
        flex-direction: column;
    }

    .general-1 {
        width: 100px;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3 {
        display: none;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}

